html {
	scroll-behavior: smooth;
}

body{
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	margin: 0;
	padding: 0;
}

header {
	background-color: #6e6e6e;
	overflow: hidden;
	z-index: -1;
	background-image: url("../images/BG_Photo.png");
	background-clip: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	z-index: 1;
}

nav a {
	color: #c7c7c7;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	margin: 46px 20px;
	z-index: 1;
	
}

.nav-first-row {
	margin-right: 175px;
	z-index: 1;
}

.nav-second-row {
	display: flex;
	flex-direction: row;
	z-index: 1;
}

#tgChatBot {
	text-decoration: underline;
}

#tgChatBotCont {
	display: flex;
	height: 24px;
	align-items: center;
}

#tgChatBotCont img {
	color: #c7c7c7;
}

#bgPhoto {
	position: absolute;
	left: auto;
	top: 5px;
	z-index: 0;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.header-description {
	width: 80%;
	margin: 200px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.nameOfSpeaker h1 {
	width: 102%;
	letter-spacing: -8px;
	line-height: 1.2;
	font-weight: 100;
	font-size: 124px;
  	background: linear-gradient(90deg,rgb(204, 204, 204) 0%, rgba(255, 255, 255, 1) 20%);
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#wordPetr {
	margin-top: -130px;
}

.header-description p {
	width: 25%;
	color: #fff;
	font-weight: 400;
	font-size: 28px;
	z-index: 1;
}

.wrap {
	width: 80%;
	margin: 0 auto;
}

.part-header {
	font-size: 18px;
	color: #151515;
}

/* Первая секция */

#firstSection {
	background-color: #151515;
	width: 100%;
	color: #fff;
	padding-top: 100px;
}

#firstSection h2 {
	margin: 0;
	font-size: 73px;
	font-weight: 400;
	background: linear-gradient(180deg,rgb(132, 132, 132) 0%, rgba(255, 255, 255, 1) 80%);
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
	letter-spacing: -6px;
	line-height: 1.2;
	text-align: center;
}

.preferences {
	width: 50%;
	margin: 60px auto;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}

#aboutASpeaker {
	font-size: 18px;
	color: #a4a4a4;
	margin: 90px 0 44px 0;
}

.about-speaker {
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;
}

.f-side {
	width: 50%;
}

.f-side h3 {
	font-size: 73px;
	font-weight: 300;
	margin: 0;
}

.s-side {
 	width: 50%;
	display: grid;
	grid-template-columns: repeat(2, 364px);
	row-gap: 15px;
	column-gap: 15px;
}

#wordExpertizes {
	margin-top: -40px;
}

.roles {
	width: 364px;
	height: 202px;
	background-color: #202022;
}

.roles p {
	padding: 15px;
	height: 25%;
}

.roles-header {
	font-size: 24px;
	font-weight: 700;
}

/* Вторая секция */

/* #services {
} */

.upperLine {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 150px 0 50px 0;
}

.services-buttons svg {
	cursor: pointer;
	margin-left: 45px;
}

/* Карусель */

.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
    }
    
.carousel-track {
	display: flex;
	transition: transform 0.4s ease;
}
    
.card {
	flex: 0 0 calc(25% - 20px); 
	margin: 0 10px;
	color: #151515;
	border-radius: 10px;
	text-align: left;
	box-sizing: border-box;
}

.card p {
	margin: 10px 0;
}

.card-parameters-main-text {
	height: 150px;
	font-size: 16px;
}

.card-parameters {
	font-size: 16px;
}

.card-parameters {
	display: grid;
	grid-template-columns: 35% 35% 30%;
	grid-template-rows: auto auto;
}

.card-parameters-header {
	font-size: 18px;
	font-weight: 700;
}

.card h4 {
	font-size: 24px;
	font-weight: 700;
}

.card-parameters-price {
	font-size: 40px;
}

.card-parameters-price span {
	font-size: 18px;
}

.card-parameters-bold-text {
	font-weight: 700;
}

.card-btn-go {
	display: block;
	width: 100%;
	height: 66px;
	margin-top: 20px;
	text-align: center;
	align-content: center;
	font-size: 20px;
	text-decoration: none;
	background-color: #151515;
	color: #fff;
	transition: 0.25s ease;
}

.card-btn-go:hover {
	background-color: #fff;
	color: #151515;
}

/* Третья секция */

#thirdSection {
	margin-top: 200px;
}

.our-clients-list {
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.our-clients-item {
	width: 15%;
}

.our-clients-list img {
	height: 70%;
}

/* Карусель */

.reviews-carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
    }
    
.reviews-track-wrapper {
	overflow: hidden;
	width: 100%;
    }
    
.reviews-track {
	display: flex;
	transition: transform 0.4s ease;
    }
    
.review-card {
	flex: 0 0 calc(33.333% - 20px); /* 3 карточки в ряд */
	margin: 0 10px;
	background: #111;
	padding: 30px;
	color: white;
	box-sizing: border-box;
    }

.reviews-buttons svg {
	cursor: pointer;
	margin-left: 45px;
}

.review-card-f-line {
	display: flex;
}

.user-photo {
	margin: 20px 15px 65px 20px;
}

.user-name {
	font-size: 18px;
	font-weight: 400;
}

.user-role {
	font-size: 18px;
	font-weight: 200;
}

.review-text {
	font-size: 25px;
	height: 200px;
}

.default-reviews-text {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
}

/* Аккордеон */

#faq {
	margin-top: 150px;
	margin-bottom: 50px;
}

.faq-item {
	border-bottom: 1px solid #dcdcdc;
	transition: 0.3s ease;
}
    
.faq-item.open {
	background: #0e0e0e;
	color: #fff;
}
    
.faq-header {
	display: grid;
  	grid-template-columns: 700px 1fr 60px; /* номер, вопрос, кнопка */
  	align-items: center;
	padding: 30px 0;
	cursor: pointer;
}
    
.faq-number {
	font-size: 80px;
	font-weight: 400;
	width: 100px;
	text-align: left;
}
    
.faq-question {
	flex: 1;
	font-size: 25px;
	line-height: 1.3;
	width: 400px;
}
    
.faq-toggle {
	background: none;
	border: none;
	cursor: pointer;
	width: 50px;
	height: 50px;
}
    
.faq-toggle svg {
	transition: transform 0.3s ease;
}
    
.faq-item.open .faq-toggle svg {
	transform: rotate(45deg);
}
    
.faq-item.open .faq-toggle path {
	stroke: #fff;
}
    
.faq-content {
	padding-left: 700px; /* = ширина .faq-number */
  	padding-right: 60px; /* чтобы текст ответа не ехал под кнопку */
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease, opacity 0.3s ease;
	opacity: 0;
	padding-right: 80px;
	width: 400px;
}
    
.faq-item.open .faq-content {
	opacity: 1;
	max-height: 500px; /* достаточно, чтобы вместить любой текст */
	padding-bottom: 20px;
}

.more-questions {
	display: grid;
  	grid-template-columns: 700px 1fr 60px;
}

.more-questions a {
	margin-top: 30px;
	font-size: 18px;
	font-weight: 600;
	color: #6e6e6e;
}

/* Бизнес-статьи */

#fifthSection{
	margin: 100px 0;
}

.articles-container {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.articles-item {
	width: 22%;
	height: 500px;	
	box-shadow: 0 0 200px rgba(0,0,0,1) inset;
}

.articles-item.first {
	background-image: url("../images/Business article_Pht_1.png");
}

.articles-item.second {
	background-image: url("../images/Business article_Pht_2.png");
}

.articles-item.third {
	background-image: url("../images/Business article_Pht_3.png");
}

.articles-item.fourth {
	background-image: url("../images/Business article_Pht_4.png");
}

.article-header {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	margin: 0;
	height: 30%;
	line-height: 1;
	padding: 15px 15px 0 15px;
}

.article-theme {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	margin: 0;
	height: 55%;
	padding: 15px 15px 0 15px;
}

.link-to-article {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	padding: 15px 15px 0 15px;
}

/* Контакты */

#contacts {
	margin-top: 150px;
}

.contacts-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.left-part-contacts, .right-part-contacts {
	width: 50%;
}

.left-part-contacts p {
	font-size: 75px;
}

.line {
	margin: 0;
	width: 100%;
	height: 1px;
	background-color: #151515;
}

.contacts-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.contact-name {
	color: #777;
	font-size: 18px;
}

.contact-text {
	font-size: 25px;
}

/* Подвал */

footer {
	background-color: #141414;
	height: 400px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 50px;
}

.left-part-footer, .right-part-footer {
	width: 50%;
}

.left-part-footer p {
	color: #6d6d6d;
	font-size: 50px;
	width: 60%;
	padding: 0;
	margin: 0;
}

.right-part-footer a {
	color: #fff;
	font-size: 25px;
	text-decoration: none;
}

.right-part-footer ul {
	margin: 0;
	padding: 0;
}

.right-part-footer li {
	list-style-type: none;
}

.bottom-part-footer {
	display: flex;
	justify-content: space-between;
}

.bottom-part-footer p {
	font-size: 18px;
	color: #6d6d6d;
	margin: 50px 0 0 0;
}